

<!DOCTYPE html>

  <!--[if lt IE 7]>
    <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
  <![endif]-->

  <!--[if IE 7]>
    <html class="lt-ie9 lt-ie8" lang="en">
  <![endif]-->

  <!--[if IE 8]>
    <html class="lt-ie9" lang="en">
  <![endif]-->

  <!--[if gt IE 8]>
    <!-->
    <html lang="en">
    <!--
  <![endif]-->

  <head>
    <meta charset="utf-8">
    <title>Control Money [Ctrl+$]</title>
    <meta name="author" content="Srinu">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <meta name="description" content="B3 CEI Imposto de Renda Pessoa Física Day Trade">
    <meta name="keywords" content="B3, CEI, Imposto de Renda Pessoa Física, Day Trade">

    <script src="/static/js/html5-trunk.js"></script>

    <link href="/static/icomoon/style.css" rel="stylesheet">
    <!--[if lte IE 7]>
    <script src="/static/css/icomoon-font/lte-ie7.js"></script>
    <![endif]-->

    <!-- bootstrap css -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- custom css -->
    <link href="/static/css/main.css" rel="stylesheet">

  </head>

  <body>

    <!-- Main Container start -->
    <div class="main-container">

      {% block content %}
      {% endblock%}

    </div>
    <!-- Main Container end -->
  </body>
</html>
