{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block content %}
  <div class="row">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}



    <form name="form_logout" method="POST" action="{% url 'account_logout' %}" class="login-wrapper">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h3 style="color:black">Control Money - Logout</h3>
            <p>{% trans 'Are you sure you want to sign out?' %}</p>
          </div>
        </div>
      </div>

      <div class="actions">
        <a href="javascript:form_logout.submit()" class="btn btn-info">{% trans 'Logout' %}</a>
        <a href="javascript:history.back()" class="btn btn-success" style="margin-right: 50px;">Voltar</a>
        <div class="clearfix"></div>
      </div>
    </form>

  </div>
{% endblock %}
