{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block content %}
  <div class="row">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}


    <form name="form_reset_passwd" method="POST" action="{% url 'account_reset_password' %}" class="login-wrapper">
      {% csrf_token %}
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h3 style="color:black">Control Money - Recuperar Senha</h3>
              <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            {{ form.email }}
          </div>
        </div>
      </div>
      <div class="actions">
        <a href="javascript:form_reset_passwd.submit()" class="btn btn-warning">{% trans 'Reset My Password' %}</a>
        <div class="clearfix"></div>
        <p></p>
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
      </div>
    </form>

  </div>
{% endblock %}
