{% extends "account/base.html" %}

{% load i18n %}


{% block content %}
<div class="row">


  <!-- <form action="#" class="login-wrapper" method="post"> -->

  <form name="form_signup" class="login-wrapper" id="signup_form" method="post" action="{% url 'account_signup' %}">
    <div class="header">
      <div class="row">
        <div class="col-md-12">
          <h3 style="color:black">Control Money - Cadastro</h3>
          <p>
            Preencha os dados abaixo para se cadastrar
          </p>
        </div>
      </div>
    </div>
    {% csrf_token %}

    <div class="content">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          {{ form.email }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          {{ form.password }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          {{ form.password2 }}
        </div>
      </div>
    </div>
    <div class="actions">
      <a href="javascript:form_signup.submit()" class="btn btn-info">Cadastrar</a>
      <div class="clearfix"></div>
    </div>
    <div class="actions">

      {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </div>
  </form>
</div>

{% endblock %}
