{% extends 'base.html' %}
{% load i18n %}





{% block content %}
<style media="screen">
  .tim {
    border: 0;
    padding: 0;
    display: inline;
    background: none;
    text-decoration: underline;
    color: blue;
  }
  button:hover {
    cursor: pointer;
  }
</style>

<script type="text/javascript">
  upld_stock_sbmt_form = function() {
    $(".mylink").click(function () {
         var path = $(this).attr("path");

         var input = document.createElement("input");
         input.setAttribute("type", "hidden");
         input.setAttribute("name", "path");
         input.setAttribute("value", path);
         document.getElementById("analysis_form").appendChild(input);

         // Submit form
         document.getElementById('analysis_form').submit();
         return false;
     });
  };
</script>

<form id="analysis_form" action="{% url 'open-file' %}" method="POST">
  {% csrf_token %}

</form>

      <!-- Dashboard wrapper start -->
      <div class="dashboard-wrapper">



        {% if user.is_anonymous %}
        <div class="row" style="margin-bottom:40px">
          <div class="col-md-12">
            <div class="callout callout-warning no-margin">
              <h4>Control Money [Ctrl-$]</h4>
              <p>Página para upload de arquivo B3 CEI. </p>
              <div class="stylish-lists">
                <ul>
                  <li>Você pode fazer o <a href="{% url 'documents_home' %}">upload</a> de um arquivo B3 CEI nesta sessão de teste. Nenhum usuário visualizará os dados do seu arquivo porque você está em uma sessão única. </li>
                  <li>Ao fazer o logout a sua sessão será finalizada, e não será mais possível acessar os dados dos arquivos enviados.
                     Mas você poderá fazer o <a href="{% url 'documents_home' %}">upload</a> novamente, ou se <a href="/accounts/signup">cadastrar aqui</a> para salvar os seus arquivos</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% endif %}


        <!-- Page title start -->
        <div class="page-title clearfix">
          <h2>
            {% trans "File Upload" %}
          </h2>
        </div>
        <!-- Page title end -->


        <div class="row">
                  <div class="col-md-12">
                    <div class="widget">
                      <div class="widget-header">
                        <div class="title">
                          <span class="fs1" aria-hidden="true" data-icon=""></span> B3 CEI File
                        </div>
                      </div>
                      <div class="widget-body">
                        <div class="row show-grid">

                          <div class="col-md-6 col-sm-6 col-xs-3">
                            <h4 class="media-heading">Upload your B3 CEI file</h4>
                            <p>You can upload as many as you want, to compare then</p>
                            <!-- Upload form. Note enctype attribute! -->
                            <form action="{% url "documents_home" %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ message }}
                                <p>{{ form.non_field_errors }}</p>

                                <!-- <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p> -->
                                <p>
                                    {{ form.docfile.errors }}
                                    {{ form.docfile }}
                                </p>

                                <p><input type="submit" value="Upload"/></p>
                            </form>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-3">
                            <img class="media-object" alt="64x64" style="width: 64px; height: 64px; float:left; margin-right:10px" src="/static/imagens/cei.png">
                            <h4 class="media-heading">Get your B3 CEI file</h4>
                            <p>
                              You can have it from <a href="https://cei.b3.com.br/CEI_Responsivo/" target="_blank"><b>B3 - Canal Eletrônico do Investidor</b> </a>
                            </p>

                          </div>
                        </div>

                        <ul class="media-list">

                          {% if documents %}
                          <li class="media">
                            <div class="media-body">
                              <h4 class="media-heading">Your B3 CEI files list</h4>
                              <p>These are your uploaded files.</p>

                              <!-- List of uploaded documents -->
                              <!-- Row start -->
                              <form id="merge_files_form" action="{% url 'merge_files' %}" method="POST">

                                 {% csrf_token %}
                                <table class="table table-condensed table-bordered table-hover no-margin">
                                  <thead>
                                    <tr>
                                      <th>Arquivo / Data</th>
                                      <th>Fonte de dados</th>
                                      <th>Download (CSV)</th>
                                      <th>Merge</th>
                                    </tr>
                                  </thead>
                                  {% for document in documents %}



                                    <tr>
                                        <td>
                                          {{ document.docfile.date }} - {{ document.docfile.short_name }}
                                        </td>
                                        <td>
                                          <a href="#" class="mylink" path="{{ document.docfile.url }}">Usar este arquivo</a>
                                        </td>
                                        <td>
                                          <a href="{{ document.docfile.csv_url }}">Download CSV</a><Br>
                                        </td>
                                        <td>
                                          <input name="merge_files" type="checkbox" nome="merge_docs" value="{{ document.docfile.csv_url }}" >
                                        </td>
                                    </tr>
                                  {% endfor %}
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><button type="submit" name="myButton" value="foo">Merge</button></td>
                                  </tr>
                                </table>
                              </form>
                            </div>
                          </li>
                          {% endif %}

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>


        {% if request.session.session_key == None %}
        <div class="col-md-12 col-sm-12">
            <div class="alert alert-block alert-info jet-blue-bg no-margin">
              <button data-dismiss="alert" class="close" type="button" data-original-title="" title="">
                ×
              </button>
              <h3 class="text-white">Anonymous User!</h3>
              <p class="text-white">You can use this site anonymously, just upload your files to check your stocks.</p>
              <p class="text-white">Login to see your saved files.</p>
              <p class="text-white">Signup to create account and save your files.</p>
            </div>
          </div>
        {% endif %}
      <div class="row">
        <div class="col-md-12">








      </div>
    </div>
  </div>

{% endblock %}
