{% extends 'base.html' %}

{% load i18n %}

{% block content %}


      <!-- Dashboard wrapper start -->
      <div class="dashboard-wrapper">

        <!-- Page title start -->
        <div class="page-title clearfix">
          <h2>
            {% trans "File Upload" %}
            <small>
              <ul>
                <li>Home</li>
                <li>/</li>
                <li>Dashboard</li>
                <li>/</li>
                <li>Tables</li>
              </ul>
            </small>
          </h2>
        </div>
        <!-- Page title end -->




        <!-- Row start -->
        <div class="row">
          <div class="col-md-12">

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "documents_home" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ message }}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>

        </div>
        </div>


{% endblock %}
